body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}




.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.title-subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    width: 100vw;
    height: 400px;
    background-image: url(background.header.jpg);
    background-size: cover;

}

.title {
    color: white;
    font-size: 70px;
    

}

.subtitle {
    color: rgb(185, 14, 185);
    font-size: 30px;
}

.input {
    border-radius: 20px;
    background-color: antiquewhite;
    color: grey;
    height: 30px;
    padding: 2px;
    margin: 20px;
    width: 200px;
    border: 2px solid rgb(185, 14, 185);
    
    
}
.inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    
    
}

#search {
    border-radius: 20px;
    height: 30px;
    width: 80px;

}

.form {
    margin-top: 30px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.buttonclicked {
    background-color: rgb(185, 14, 185);
    color: white;
    width: 150px;
    height: 50px;
}

.listcontainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    border-radius: 20px;
    border: 2px solid rgb(185, 14, 185);
    margin-top: 50px;
    width: 400px;
    list-style: none;
    background-image: url(sfondolista.webp);
    background-size: cover;

    
}
.h3 {
    display: none;
}

.h3-visible {
    color: rgb(185, 14, 185);
    display: inline;
    margin-top: 20px;
}

.result {
    color: rgb(185, 14, 185);
    list-style: none;
    margin: 20px;
    font-weight: bold;

}